.idea
node_modules

*.cache

.DS_Store
node_modules/

*.log
variables.env
variables.env.now

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.sass-cache 


# Project specific
*.sqlite
/api/public/uploads/*.png
/api/data/*.sqlite
